// Utility
@import './assets/styles/utility/variables';
@import './assets/styles/utility/typography';

// Components
@import './assets/styles/components/buttons';
@import './assets/styles/components/form';

// Layout
@import './assets/styles/layout/nav';
@import './assets/styles/layout/footer';

// Pages 
@import './assets/styles/pages/index.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}