@import "../utility/variables";

.btn-primary {
    background-image: linear-gradient(180deg, #e1a0a0, $primary);
    box-shadow: 0 10px 40px #6B3838;
    border: none;
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.btn-primary:hover, .btn-primary:focus {
    background-image: linear-gradient(180deg, #E2c1c1, #ea8282);
}