@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

* {
    font-family: 'Jost', sans-serif;
}

.header-font {
    font-size: 48px;
    font-family: 600;
}
.logo-font {
    font-size: 24px;
    font-weight: 500;
}
.para-font {
    font-size: 16px;
    font-family: 400;
}
.label-font {
    font-size: 16px;
    font-weight: 500;
}
.btn-color {
    font-size: 16px;
    font-weight: bold;
}